# Autotools junk at top level
/autom4te.cache/
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
config/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.lvimrc
.sconsign.dblite
tests/build/
test_runner
statsite
.vagrant
*.pyc
*.tar.gz

# Various tool outputs in all dirs
Makefile
Makefile.in
.dirstamp
.deps
.libs
